<div class="container mt-5">
  <hr>
  <div class="row mt-5 mr-0 gx-0">
    <div class="col-md-8 p-0">
      <h2 class="heading"><strong>This First Heading</strong> <span class="text-muted">Will Catch Your Eye</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-3 p-0">
      <img src="assets/img/1.jpg" class="img-fluid rounded-circle" alt="Avatar">
    </div>
  </div>
  <hr class="mt-5">
</div>