<div class="container mt-5">
  <div class="row mt-4">
    <div class="col-md-3">
      <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="Services Image">
    </div>
    <div class="col-md-8">
      <h2 class="heading"><strong>This Second Heading</strong> <span class="text-muted">Is Pretty Cool Too.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consecteur. Fausce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
  <hr class="mt-5">
</div>
